# ***Topics to be covered:***


*   Basic data types and syntax
*   Control structures
*   Important data structures
*   Function declarations

# ***Comments in Our Code:***

*Comments are useful for us to understand the code when we look at it at a later time. *

`#` *used for in line comments*


` ''' Multi-line Comments '''` Remember this only works in python (.py) files and does not work in notebook (.ipynb) files.

In [ ]:
# This entire line is commented
# This line is commented too

print(" anything after # in a single line is commented or ignored by the python program ") # This is commented too

# ***Demonstrate an Example Code***

In [3]:
# Example Code Demonstration
# Mad Lib created by Jesus

noun1 = input("Please enter a noun: ")
noun1=str(noun1)
pluralnoun1 = input("Please enter a plural noun: ")
pluralnoun1=str(pluralnoun1)
noun2 = input("Please enter another noun: ")
noun2=str(noun2)
pluralnoun2 = input("Please enter a different plural noun: ")
pluralnoun2=str(pluralnoun2)
print("Once that's done, I get some " + pluralnoun1 + ", and then its off to my first " + noun1 + ".")
#Story
print("Every day, the mighty " + noun1 + " walked across the river known as the Magical River of Life ")
print("One day, while walking on the river, the scary " + pluralnoun1 + " suddenly appeared in a group, and were determined to take down the " + noun1 + "!")
print("However, to the relief of the " + noun1 + ", the feared " + noun2 + " came to save the day from the " + pluralnoun1 + "!")
print("Together, with the help of the " + pluralnoun2 + ", they managed to scare away the " + pluralnoun1 + " and save the " + noun1 + "!")

Please enter a noun: cow
Please enter a plural noun: cow
Please enter another noun: cow
Please enter a different plural noun: cow
Once that's done, I get some cow, and then its off to my first cow.
Every day, the mighty cow walked across the river known as the Magical River of Life
One day, while walking on the river, the scary cow suddenly appeared in a group, and were determined to take down the cow!
However, to the relief of the cow, the feared cow came to save the day from the cow!
Together, with the help of the cow, they managed to scare away the cow and save the cow!

# ***Variables***

*Variables in Python are defined and typed for you when you set a value to them In Python, variable names must follow certain rules:*


*   A variable name must start with a letter or the underscore character.
*   A variable name cannot start with a number.
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _).
*   Variable names are case-sensitive (age, Age and AGE are three different variables)



---
**Always choose variable names so that, the name itself makes sense with what they are going to be used for. Do not choose any variable names so that at a later time when you are looking at the code, you can not get an idea about where that particular variable is used.**


Also, do not mix uppercase and lowercase characters when declaring a variable. We recommend using **lowercase characaters**.

---



*Good variable name selection. Human readable and consistent formating*
```
noun = 'chair'
number_1 = 24
year = 2020
```

*bad variable name selection*
```
Noun = 'chair'
Number1 = 24
sdfas = 2020
```

In [ ]:
# Demonstrate some use of variables

# ***`input()` statement***

The `input()` function in Python is used to take input from the user. It reads a line of text entered by the user and returns it as a string. The syntax for the `input()` function is as follows:



```
input([prompt])
```
Here, the prompt parameter is optional. It is a string that represents a default message before the input. If you want to write a message before the input, you can use this parameter.

Here’s an example:



```
name = input("Enter your name: ")
print("Hello, ", name)

```

In [12]:
# input() statement
name = input('Enter your name:')
print ('Hello, ' + name + '.')

Enter your name:hi
Hello, hi.

# ***Python Data Types and Syntax***




> *Numerical data types:*
  * `a = 33` (integer)
  * `a = 33.0` (floating point)
  * `a = True` (boolean) ---> can only have 2 values, i.e. 1 for True, 0 for False  

> *Characters are strings of length one. Lenth of string is equal to the number of the character in the string.*
  * `c = "u"` or `c = 'u'`

> *Check type of variables with `type()`:*
  * `type(33) = int`

In [21]:
my_variable = 2
print(my_variable)
type(my_variable)

2

int


***If you accidentally mistype a variable name, Python will not catch it for you. This can lead to bugs that can be hard to track - so beware***

In [23]:
my_varible = 3
my_varible = my_variable+1
print(my_varible)

# See how the code ran and do not show any errors

3

# ***Practice Problem***
*Your neighbor has an apple tree and he gives you some apples. You also have some apples from yesterday. Write a code to calculate the total number of apple you have. The program should ask for number of apples your neighbor gives you and the number of apple you had before.*

In [36]:
# Apple problem codeblocks
#Inputs only register as strings and not integers, so you are not able to add them together like integers.

number_of_apples_neighbor = input("Enter the number of apples your neighbor gives you: ")
number_of_apples_mine = input("Enter the number of apples your already have with you: ")
print(int(number_of_apples_neighbor) + int(number_of_apples_mine) , 'apples')
type(number_of_apples_neighbor)
type(number_of_apples_mine)

Enter the number of apples your neighbor gives you: 5
Enter the number of apples your already have with you: 5
10 apples

str

# ***Types and Typecasting***

*Typecasting is a mean to convert the type of variable once it is originally assigned.The usual typecasting is available in Python, so it is easy to convert strings to ints or floats, floats to ints, etc.*

In [25]:
a = "1"
b = 5
print(a+b)

TypeError: ignored

In [26]:
a = "1"
b = 5
print(int(a)+b)

6

*Note that the typing is dynamic. I.e. a variable that was initally say an integer can become another type (float, string, etc.) via reassignment.*

In [37]:
a = "1"
type(a)
print(type(a))

a = 1.0
print(type(a))

<class 'str'>
<class 'float'>

*Typecasting is usually required when asking for user input by using the `input()` statement. *



```
number_1 = int(input("Enter a number: "))
number_2 = int(input("Enter another number: "))

print(number_1 + number_2)

```

In [ ]:
# input() revisit

# ***Mathematical & Logical Operators***

*   addition, subtraction, multiplication, division:
  * `2+2`, `43-5`, `4*3`, `3/2`


*   Modulus (Remainder)
  * `3%2 = 1`
*   Exponentiation
  * `2**3 = 8`
*   Logical Operators
  * `and`, or, `not`
  * `== , != , < , <= , > , >=`

In [52]:
print(3/4)
print(3.0 / 4.0)
print(4%2)
print(3//4)
print(2**12)

0.75
0.75
0
0
4096

# ***print() Statement***
*Places output on the screen*
```
i = 34
print(i)
```
*Use comma between variables you want printed on the same line (i.e., comma will suppress a newline)*
```
i = 3
j = 4
print(i)
print(i,j)
```
***The print() statement is extremely important for debugging a code. Usually when you write a code, it may contain some mistake. Debugging is finding that error based on the error statement from your compiler.***

# ***Practice Problem***

*Make a calculator using python, that can obtain two numbers from the user and add them together.*

In [49]:
# blocks for writing the calculator code.
num_1=int(input('Type ANY number: '))
num_2=int(input('Type ANY number: '))
print('The sum is:', num_1 + num_2)

Type ANY number:5
Type ANY number:5
The sum is: 10

# ***Practice Problem***

*Accept three numbers and print out their average*

In [47]:
# blocks for average calculation
num_1 = int(input('Type ANY number: '))
num_2 = int(input('Type ANY number: '))
num_3 = int(input('Type ANY number: '))
num_4 = num_1 + num_2 + num_3
print('The average is:', num_4/3)

Type ANY number: 3
Type ANY number: 5
Type ANY number: 8
The average is: 5.333333333333333

# ***Whitespace matters!***

*Python does not use any braces (like {} in C) to separate one code blocks from other. All lines with the same indentation are part of the same block/scope. Therefore, it is absolutely important to avoid any unintentional whitespaces while writing code in python.*

The advantage of such approach is that, you need to type less and the code is automatically **made beautifully arranged** by the structure itself.

# ***Conditional Statements***

***`if , elif, else`***

Nothing remarkable here, just need to learn the syntax. Here, we should also mention spacing. Python is picky about indentation - you must start a newline after each conditional statement and indent the same number of spaces for every statement within the scope of that condition.

```
a = 20
if a >= 22:
   print("the code is going to if")
elif a >= 21:
    print("the code is going to elif")
else:
    print("the code is going else")
```

In [ ]:
# if/else/elif code block

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

# ***Practice Problem***

*Write a program that ask for a number from the user. But for multiples of
three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz*

In [58]:
num=int(input('Type ANY number: '))
if num%3 == 0 and num%5 == 0:
  print('FizzBuzz')
elif num%3 == 0:
  print('Fizz')
elif num%5 == 0:
  print('Buzz')
else:
  print('WRONG CHOICE')

Type ANY number: 15
FizzBuzz

In [ ]:
# FizzBuzz Codeblock

# ***Practice Problem***

*Write a program to accept percentage from the user and display the grade according to the following criteria:*



```
Marks               Grades
 >90                   A
 >80 and <=90          B
>=60 and <=80          C
  below 60             D
```

In [63]:
# Grade calculation codeblock
percent=int(input('What Percentage Did You Recieve? '))
if percent > 90:
  print('A')
elif percent > 80 and percent <= 90:
  print('B')
elif percent >= 60 and percent <= 80:
  print('C')
else:
  print('D')

What Percentage Did You Recieve? 59
D

# ***Practice Problems***

*Write a program to check whether an year is leap year or not*

In [67]:
# Leap year code block
year = int(input('What Year Is It? '))
if year%4 == 0:
  print('LEAP YEAR!')
else:
  print('Not a Leap Year')

What Year Is It? 2022
Not a Leap Year

# ***Practice Problem***

*Write a program to accept a number from 1 to 7 and display the name of the like 1 for Sunday, 2 for Monday and so on.*

In [70]:
# day of the week code block
num=int(input('Choose a number 1-7: '))
if num == 1:
  print('Monday')
elif num == 2:
  print('Tuesday')
elif num == 3:
  print('Wednesday')
elif num == 4:
  print('Thursday')
elif num == 5:
  print('Friday')
elif num == 6:
  print('Saturday')
elif num == 7:
  print('Sunday')

Choose a number 1-7: 7
Sunday

# ***Practice Problem***

*Write a program to find the lowest number out of two number excepted from user*

In [77]:
# Lowest number code block
num_1= int(input('Choose a number: '))
num_2= int(input('Choose a number: '))
if num_1 > num_2:
  print(num_2, 'is the lowest')
elif num_2 > num_1:
  print(num_1, 'is the lowest')

Choose a number: 6
Choose a number: 3
3 is the lowest

# ***Practice Problem***

*Write a program to check if a number is divisible by 2 and 3 at the same time*

In [79]:
# code block for divisibility
num=int(input('Choose a number: '))
if num%2 == 0 and num%3 == 0:
  print(num, 'is divisible by 2 and 3')
else:
  print(num, 'is not divisible by 2 and 3')

Choose a number: 5
5 is not divisible by 2 and 3

# ***Practice Problem***

*Calculate the electric bill of a household. The program should ask for the power consumption in KWh (unit of power consumption). The charge of electricity increases incrementally as the usage increases and the rates are as follows:*



```
Cost[$/kWh]              Usage [kWh]
    1                        <50
   1.5                  <=50 and <80
    2                   <=80 and <200
   2.5                    above 200
```

In [85]:
usage=int(input('How many kWh do you use? '))
if usage < 50:
  cost = 1
elif usage >= 50 and usage < 80:
  cost = 1.5
elif usage >=80 and usage < 200:
  cost = 2
else:
  cost = 2.5

print('Your cost is', usage * cost, 'dollars')

How many kWh do you use? 200
Your cost is 500.0 dollars

# ***Lists***

Lists are exactly as the name implies. They are lists of objects. The objects can be any data type (including lists), and it is allowed to mix data types. In this way they are much more flexible than arrays. It is possible to append, delete, insert and count elements and to sort, reverse, etc. the list.



```
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)
print(b_list[7:9])
```


```
a = [1,2,3,4,5,6,7]
a.insert(0,0)
print(a)
a.append(8)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.pop()
print(a)
a.remove(3)
print(a)
a.remove(a[4])
print(a)
```

***Elements are indexed from 0. Any string is essentially a list***

In [ ]:
# Demo code block for lists
#List's elements start at 0

# ***Loops or Iterators***
*Python has the usual iterators, while, for, and some other constructions that will be addressed later:*



```
for i in range(1,10):
     print(i)
```

*`range()` : the range function gives us values up to, but not including, the upper limit.*

```
i = 1
while i < 10:
    print(i)
    i+=1
```

`for()` and `while()` essentially do the same things. But depending on the situation one may be more convenient than other

In [99]:
for i in 'Isaac':
  print(i)

I
s
a
a
c

In [103]:
# Code blocks for loops
name='Isaac'
i=0
while i < len(name):
    print(name[i])
    i+=1

I
s
a
a
c

*Lists can be constructed using ‘for’ and some conditional statements. These are called, ‘list comprehensions’. For example:*



```
even_numbers = [x for x in range(100) if x % 2 == 0]
print(even_numbers)
```
*List comprehensions can work on strings as well:*




```
first_sentence = "It was a dark and stormy night."
characters = [x for x in first_sentence]
print(characters)
```

`len()` can be used to find the number of element in a list.



```
first_sentence = "It was a dark and stormy night."
number_of_character = len(first_sentence)
print(number_of_character)
```

In [89]:
# list demo
first_sentence = "It was a dark and stormy night."
number_of_character = len(first_sentence)
print(number_of_character)

31

# ***Practice Problem***

*Write a program that prints the numbers from 1 to 100. But for multiples of
three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz"*



```
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)
```

In [88]:
# Fizz Buzz problem
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# ***Practice Problem***

*write a program to print first 10 natural number*

In [107]:
# blocks for practice
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

# ***Practice Problem***

*write a program to print first 10 even number*

In [ ]:
# blocks for practice

# ***Practice Problem***

*write a program to print first 10 even number in reverse order*

In [ ]:
# blocks for practice

# ***Practice Problem***

*write a program to print table of a number accepted from user*

In [ ]:
# code blocks for table

# ***Practice Problem***

*write a program to find the factorial of a number (the number should be less than 20)*

In [ ]:
# factorial code block

# ***Practice Problem***

*Write a program to calculate the sum of first 10 natural numbers*

In [ ]:
# sum of numbers

# ***Practice Problem***

*write a program to find the sum of all digits in a number*

In [ ]:
# code block for sum of digits

# ***Practice Problem***

*write a program to find if a number is a prime number or not*

In [ ]:
# code block for prime numbers

# ***Practice Problem***

*Accept 10 numbers from the user and display their average*

In [ ]:
# code block for average

# ***Practice Problem***

*write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500*

In [ ]:
# divisible code block

# ***Functions***

*A Python function is a block of code that performs a specific task and can be reused in a program. There are two types of functions in Python: built-in functions that are provided by Python itself, and user-defined functions that are created by the programmer. You can define a function using the def keyword, and call it using the function name followed by parentheses. For example:*



```
def greet():
  print("Hello from a function")

greet()
```


```
def Division(a, b):
    print(a/b)
Division(3,4)
Division(3.0,4.0)
Division(3,4.0)
Division(3.0,4)
```

*The output of a function can also be redirected to a variable.*



```
def Division(a, b):
    return(a/b)
result = Division (4,2)
print(result)
```

In [ ]:
# Function Demo

# ***try/except***

**Python has another type of conditional expression that is very useful. Suppose your program is processing user input or data from a file. You don’t always know for sure what you are getting in that case, and this can lead to problems. The ‘try/except’ conditional can solve them!**



```
a = "1"
try:
  b = a + 2
except:
  print(a, " is not a number")
```

*In a statically typed language, the programmer would have specified the type of a and b (float, int, etc.) and the compiler would have complained about the function being passed a variable of the wrong type. This does not happen here, but we can use the try/except construction.*




```
def Division(a, b):
    try:
        print(a/b)
    except:
        if b == 0:
           print("cannot divide by zero")
        else:
           print(float(a)/float(b))
Division(2,"2")
Division(2,0)
```

In [ ]:
# try except code block

# ***Practice Problem***

*Write a function to calculate the area of a rectange*

In [ ]:
# area of rectangle

# ***Practice Problem***

*Write a function that calculates the radius of a sphere from its volume*

In [ ]:
# radius calculation

# ***Practice Problem***

*Write a function that returns the square of any number given to it*

In [ ]:
# square problem

# ***Practice Problem***

*Using function calculate the summation of the square of first 10 natural numbers.*

In [ ]:
# square sum

# ***Practice Problem***

*Write a program to print out the first 10 digits of the Fibonacci sequence. Can you calculate the golden ratio from Fibonacci Sequence*

In [ ]:
# Fibonacci sequence

In [ ]:
# Try recursion with Fibonacci sequence